*{
    margin: 0;
    padding: 0;
}

body{
    background: #beb6b6;
    
}


ul {
    display: flex;
}
li {
    list-style: none;
    margin-bottom: 2rem;
    padding-left: 1rem;
   
}

li a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}

form {padding-left: 1rem}
button {margin-top: 1rem}